<div>
	<form action="" method="post">
		<label for="username">Username</label>
		<input class="button is-primary" name="username" type="text">
		<label for="password">Password</label>
		<input type="text" name="password">
		<input type="submit">Submit</input>
		{{#if condition}}
			
		{{/if}}

	</form>
</div>
